@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'mustard';
    src: url(fonts/Mustard_Bold_otf.otf) format('opentype'), url(fonts/Mustard_Medium_otf.otf) format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hunting';
    src: url(fonts/Hunting.otf) format('opentype'), url(fonts/Hunting.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'knukle';
    src: url(fonts/Knucklehead-1.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --cor0: #c40707;
    --cor1: #d9d9d9;
    --cor2: #77b513;
    --cor3: #4a0000;
    --cor4: #ababab;
    --cor5: #573320c2;
}


body {
    background-image: url(imagem/tela_inicial/cachorro_quente.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-attachment: fixed;

   
}

.font_1 {
    font-family: 'hunting';
    font-size: 2em;
}

.font_2{
    font-family: 'knukle';
    font-size: 1.5em;
}



header {}

.container {
    width: 50vw;
}

.container>#font_etec {
    text-align: right;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

#menu {

    display: flex;
    height: 10%;
    margin: 0px;
    padding: 10px;
    color: white;
    



}

.navegacao a,
.navegacao button {
    color: white;
    /* background-image: linear-gradient(to top, #e25757, #eea4a4); */
    background-color: var(--cor5);
    padding: 5px 30px;
    margin-right: 10px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.301);
    border-radius: 5px;
    margin: 15px 15px 5px 5px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    float: right;

}


.item{
   
    width: 10vw;
    height: 25vh;
    border-radius: 100px 0px 0px 0px;
    

}

.informacao{
    background-color: #ababab84;
    width: 30vw;
    height: 25vh;
    border-radius: 0px 10px 100px 0px;
    padding: 20px;

}
#item1{
    background-image: url(imagens/carrossel/image\ 4.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#item2{
    background-image: url(imagens/carrossel/image\ 5.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div_position{
    display: flex;
    height: 15%;
    margin: 20px;
    padding: 10px;
    color: white;
    overflow:hidden;
    


}


footer {
    background-color: #573320c2;
    bottom: 0;
    position: fixed;
    width: 100vw;
    text-align: center;
    color: white;
    margin: 0px;
    height: 3%;
}
#c40707

#c407