@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #940707;
    --cor1: #d9d9d9;
    --cor2: #77b513;
    --cor3: #4a0000;
    --cor4: #ababab;

}


body {
    background-image: url(imagem/tela_login/plano_de_fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}


header>h1 {
    text-align: center;
    color: white;
    padding-top: 2%;
    margin: 0px;
}

main {
    width: 80vw;
    height: 95vh;
    max-width: 800px;
    max-height: 500px;
    margin: auto;
    margin-top: 2%;
}

.container {
    display: flex;

}


div {
    width: 50%;
    height: 100%;
    display: inline-block;
}


#container-a {
    background-color: var(--cor1);
    border-radius: 10px 0px 0px 10px;

}
#container-b {
    background-color: white;
    background-image: url(imagem/tela_login/etec_logon.jpg);
    border-radius: 0px 10px 10px 0px;

}


/* 
#cadastro {
    font-size: 1.5em;
    text-align: center;
    margin-top: 120px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.233);
} */

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

/* #criarConta {
    display: none;
} */


#login > input {
    text-align: center;
    background-color: #ababab;
    margin-bottom: 50px;
    width: 100%;
}

#login > button {
    background-color: #830101;
    width: 100%;
    
}


footer>p {
    text-align: center;
    color: white;
    bottom: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    margin: 0px;
}

footer>p>img {
    max-width: 25px;
}




@media screen and (max-width:991px) {

    main {
        border: none !important
    }

}

@media screen and (max-width : 576px) {

    #login input {

        width: auto;
    }


}

@media screen and (max-width : 576px) {


    #container-b {

        display: none;
    }

    #container-a {
        width: 100%;
        margin: 10px;
        background-color: white;

    }

    #login input {
        background-color: rgb(200, 200, 200);
        color: white !important;
        position: relative;
    }


    #container-b img {
        display: flex !important;
    }


    #EtecImg {
        display: inline-block;
        width: 10rem;
        position: absolute;
        top: 143px;

    }

    #criarConta {
        display: inline;
    }


    footer {
        background-image: none;
    }



}