@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'mustard';
    src: url(fonts/Mustard_Bold_otf.otf) format('opentype'), url(fonts/Mustard_Medium_otf.otf) format('opentype');
    font-weight: normal;
    font-style: normal;

    font-family: 'hunting';
    src: url(fonts/Hunting.otf) format('opentype'), url(fonts/Hunting.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    
}


:root {
    --cor0: #c40707;
    --cor1: #d9d9d9;
    --cor2: #77b513;
    --cor3: #4a0000;
    --cor4: #ababab;
}


body {
    background-image: url(imagem/tela_inicial/cachorro_quente.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

#font_etec{
    font-family: 'hunting';
    font-size: 3em;
   
}

header {
   
}

.container{
     width: 50vw;
}

.container > #font_etec{
    text-align: right;
}

#menu{
   display: flex;
   background-color: var(--cor0);
   height: 10%;
   margin: 0px;
   padding: 0px;
   color: white;
   
   

}   

.navegacao a,
.navegacao button {
    color: white;
    background-image: linear-gradient(to top, #e25757, #eea4a4);
    padding: 5px 30px;
    margin-right: 10px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.301);
    border-radius: 5px;
    margin: 15px 15px 5px 5px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    float: right;
   
}



footer {
    background-color: var(--cor0);
    bottom: 0;
    position: fixed;
    width: 100vw;
    text-align: center;
    color: white;
    margin: 0px;
}